body {
  background-image: url('../images/prac.jpg');
}

.container {
  background-color: lightgrey;
  width: 900px;
  height: 300px;
  border: 1px solid black;
  margin: 10px;
  padding-left: 5px;
}

#p4 {
  color: black;
}

p {
  font-size: 25px;
  font-family: fantasy;
}

.nav {
  background-image: url('../images/about.jpg');
  padding: 10px;
}

}

@media screen and (max width=44em) {
  nav[role="full-horizontal"] ul>li {
    width: 100%;
  }
}

img {
  float: left;
  width: 60px height;
  60px
}
